<mat-sidenav-container class="datos-entidad-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item mat-list-item (click)="navega('datos-basicos-unidades-centro')"> Unidad Centro </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('alumnos-unidades-centro')"> Alumnos </mat-list-item>
        </mat-nav-list>
        <button mat-button class="onNoClick" (click)="onNoClick()">Cerrar</button>
    </mat-sidenav>
    <mat-sidenav-content >

        <router-outlet name="sidebar" ></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>
