<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>



      <ng-container matColumnDef="nombre_completo_alumno">
        <th mat-header-cell *matHeaderCellDef>
          <input matInput [formControl]="nombreCompletoFilter" placeholder="Nombre Completo" required>
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.nombre_completo_alumno}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_nacimiento_alumno">
        <th mat-header-cell *matHeaderCellDef>
          <input matInput [formControl]="edadFilter" placeholder="Edad" required>
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let alumno"> {{ alumno.fecha_nacimiento }} años </td>
      </ng-container>

      <ng-container matColumnDef="linkedin_alumno">
        <th mat-header-cell *matHeaderCellDef>
          <input placeholder="Linkedin Alumno">
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let alumno"> {{ alumno.linkedin_alumno }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="addAlumno()">
            <mat-icon>
              add_circle
            </mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let alumno">
          <button mat-icon-button (click)="editAlumno(alumno)">
            <mat-icon>
              mode_edit
            </mat-icon>
          </button>
          <button mat-icon-button (click)="deleteAlumno(alumno)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
